/*
/.**

!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/README.md
!/LICENSE

!/install.sh
!/dotfile_mapping.txt
!/.config/
!/.config/starship/
!/.config/starship/**
!/.config/zsh/
!/.config/zsh/**