/*
/.**

!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/README.md
!/LICENSE

!/install.sh
!/link_mapper.json

!/.config/
!/.config/starship/
!/.config/starship/**
!/.config/zsh/
!/.config/zsh/**
/.config/zsh/local/**
!/.config/git/
!/.config/git/**
!/.config/wezterm/
!/.config/wezterm/**
!/.config/nvim/
!/.config/nvim/**

